$editorHeight: calc(100vh - 60px);
$editorInputHeight: calc(100vh - 60px - 32px);

.editor {
  width: 100%;
  height: $editorHeight;
  position: relative;
  color: $primary;
}

.editor-input {
  font-family: 'fira_coderegular';
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
  padding: 5% 15%;
  background-color: transparent;
  border: none;
  outline: none;
  height: $editorInputHeight;
  color: $text;
  font-size: 18px;
  resize: none;

  &::selection {
    background: $selection;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-thumb {
      background: $primary;
  }
}

.editor-bar {
  width: 100%;
  background-color: $primary;
  color: $background;
  height: 32px;
  position: absolute;
  bottom: 0px;
  font-family: 'dosisbold';
}

.editor-filename {
  font-family: 'dosisbold';
  float: left;
  font-size: 12px;
  background-color: $background;
  color: $primary;
  padding: 7px 10px 8px;
  margin: 2px 5px 0 0;
}

.editor-count {
  float: left;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

.editor-preview {
  width: 100%;
  box-sizing: border-box;
  padding: 5% 15%;
  font-family: 'dosisregular';
  color: $text;
  font-size: 18px;
}