$unit: 60px;
$mainWidth: calc(100vw - 60px);
$mainHeight: calc(100vh - 60px);

@import './colors';
@import './mixins';
@import './splash.scss';
@import './interface.scss';

body {
  background-color: #341D1B;
  margin: 0px;
  padding: 0px;
}

.devtools {
  position: fixed;
  top: 10px;
  right: 10px;
}